<!-- _includes/research-carousel.html -->
<div class="research-carousel">
    <button class="carousel-button prev" aria-label="Previous slide">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
        </svg>
    </button>
    
    <div class="carousel-container">
        <div class="carousel-track">
            {% for image in site.data.research_images %}
            <div class="carousel-slide">
                <img src="{{ site.baseurl }}/assets/images/research/{{ image.file }}" 
                     alt="{{ image.caption }}" 
                     loading="lazy">
                <p class="carousel-caption">{{ image.caption }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <button class="carousel-button next" aria-label="Next slide">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
    </button>
</div>